<div class="row">
	<div class="col-md-6 offset-md-3">
		<!-- flash success message -->
		<% if(success && success.length){ %>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<%= success %>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="alert"
				aria-label="Close"
			></button>
		</div>
		<% } %>

		<!-- flash error msg -->
		<% if(error && error.length){ %>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<%= error %>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="alert"
				aria-label="Close"
			></button>
		</div>
		<% } %>
	</div>
</div>
