<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yelp Camp</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body class="d-flex flex-column text-white bg-dark">
    <nav class="navbar sticky-top navbar-expand-md navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Yelp Camp</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
            <a class="nav-link" href="/campgrounds/add">New Campgrounds</a>
          </div>
          <div class="navbar-nav ms-auto">
            <% if(!currentUser){ %>
            <a class="nav-link" aria-current="page" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>

    <div class="container cover-container d-flex w-100 h-100 p-3 mx-auto">
      <main class="container mt-3">
        <%-include('./partials/flash') %>
        <section class="px-3 text-center">
          <h1>Yelp Camp</h1>
          <p class="lead">
            Welcome to CampsCombined <br />
            Jump right in and explore our many campgrounds<br />
            Feel free to share some of your own and comment on others
          </p>

          <a href="/campgrounds" class="btn btn-dark btn-lg mb-3"
            >View Campgrounds</a
          >
        </section>
        <section class="row justify-content-center">
          <div
            class="card col-sm-4 text-white bg-transparent border-light mb-3"
          >
            <div class="card-header">John Dixon</div>
            <div class="card-body">
              <h5 class="card-title">Amazing web!</h5>
              <p class="card-text">
                It’s an excellent platform to check camping sites!
              </p>
            </div>
          </div>
          <div
            class="card col-sm-4 text-white bg-transparent border-light mb-3"
          >
            <div class="card-header">Tyler Wilson</div>
            <div class="card-body">
              <h5 class="card-title">Just Excellent!</h5>
              <p class="card-text">I have been with CampsCombined for 1 year</p>
            </div>
          </div>
          <div
            class="card col-sm-4 text-white bg-transparent border-light mb-3"
          >
            <div class="card-header">Ramona Hall</div>
            <div class="card-body">
              <h5 class="card-title">Everything is great</h5>
              <p class="card-text">Great app and staff.</p>
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer mt-auto py-3 my-4">
      <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="/campgrounds" class="nav-link px-2 text-muted"
              >Campgrounds</a
            >
          </li>
          <li class="nav-item">
            <a href="/campgrounds/add" class="nav-link px-2 text-muted"
              >New Campgrounds</a
            >
          </li>
        </ul>
        <p class="text-center text-muted">
          © 2022 Ryan Lui's development. All rights reserved.
        </p>
      </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
